
@model Laptop.Entity.LaptopSpecification

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>

@using (Html.BeginForm("Update", "Laptop",FormMethod.Post))
{
    <table border="1">
        <tr>
            <td>ID :</td>
            <td> @Html.TextBoxFor(Model => Model.Id)</td>
        </tr>
        <tr>
            <td>Laptop Brand : </td>
            <td>@Html.TextBoxFor(Model => Model.Brand)</td>
        </tr> 
        <tr>
            <td>Price : </td>
            <td>@Html.TextBoxFor(Model => Model.Price)</td>
        </tr>
        <tr>
            <td>Description: </td>
            <td>@Html.TextBoxFor(Model => Model.Description)</td>
        </tr>

        <tr>
            <td>
                <input type="submit" value="Submit" />
            </td>
            <td><a href="/Laptop">Back</a></td>
        </tr>
    </table>
}